.info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: row;
    background: url(../images/blue.jpg) center center/cover no-repeat;
    min-height: 612px;

    
    .wrapper__info {
        margin-bottom: 30px;
        text-align: center;
        margin-left: 16vw;
    }

    .wrapper__icons {
        display: flex;
        flex-direction: column;
        margin-left: 175px;
        justify-content: space-between;
        gap: 103px;
    }
    
    &__name {
        display: inline-block;
        line-height: 1;
        font-family: "Open Sans";
        font-size: 80px;
        font-weight: 800;
        letter-spacing: 6.4px;
        text-align: left;
        color: #fff;
    }

    &__description {
        padding: 9px 0;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #172592;
        width: 225px;
        height: 42px;
        background-color: #fff;
        border-top-left-radius: 17px;     /* Скругление левого верхнего угла */
        border-bottom-right-radius: 17px;  /* Скругление правого нижнего угла */
    }

    &__subname {
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 800;
        color: #fff;
    }


    &__icon-item {
        display: flex;
        flex-direction: row;
        align-items: start;
        &:last-of-type {
            margin-bottom: 20px;
        }
        }
    &__icon-item__description {
        margin-left: 11px;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 600;
        color: #fefefe;
        text-transform: uppercase;        
    }

}