.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    color: white;
    padding: 19px 135px 20px 135px;
    
    .navbar {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        margin-left: 260px;
        
        .navbar-nav {
            display: flex;
            gap: 60px;
            
            .nav-item {
                position: relative;
                margin: 0;
                font-family: "Open Sans";
                font-weight: 400;
                
                &:after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background-color: #42b549;
                    bottom: -5px;
                    left: 0;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }

                .nav-link {
                    color: #3c3c3c;
                    &:hover {
                        color: #42b549;
                        transition: 0.4s;
                    }
                
                }
            }
        }
        
        .dropdown-item {
            &:hover {
                color: #42b549;
                transition: 0.4s;
            }
        }
    }
    
    .button__wrapper {
        display: flex;
        justify-content: end;
    }
}